tqdm==4.70.1
numpy==1.26.4
ray==2.55.1
matplotlib==3.11.2
pillow==12.3.0
scikit-learn==1.5.0
seaborn==0.13.2
pandas==3.0.5
opacus==1.5.4
flwr[simulation]==1.36.0
tenseal==0.3.18
concrete-ml==1.9.0
concrete-python==2.10.0
pyyaml==6.0.3
psutil==7.2.2
requests==2.34.2
torch==2.3.1
torchvision==0.18.1
plotly==7.0.0
kaggle==2.2.4
